src/locale/*
reports
build
coverage
functions
README.md
LICENCE
.vscode
.firebaserc
database.rules.json
firebase.json
storage.rules
jest.config.js
package.json
db.json
.balelrc
.eslintrc.json
.travis.yml
fileTransform.js
__mocks__/*