// Here you can add other styles
.app-footer {
  color: $gray-800;
}
.sidebar-minimized .sidebar .nav-link {
  background: $gray-800;
}

.small-h1 {
  font-size: 1.5rem;
}
.small-h2 {
  font-size: 1.2rem;
}

.app-header .navbar-nav {
  padding-right: 2em;
}
