// Here you can add other styles
.app-footer {
  color: $gray-800;
}
.sidebar-minimized .sidebar .nav-link {
  background: $gray-800;
}

.sidebar {
  .nav-item,
  .nav-title {
    &.admin {
      background: $gray-900;
    }
  }
}

.small-h1 {
  font-size: 1.5rem;
}
.small-h2 {
  font-size: 1.2rem;
}

.app-header .navbar-nav {
  padding-right: 2em;
}

label {
  font-weight: 700;
}

.form-check {
  label {
    font-weight: 400;
  }
}

.card-body.small-padding {
  padding: 0;
  .list-group-item {
    border: 0;
    p {
      margin-bottom: 0;
    }
  }
}

.results-chain {
  .card-body {
    :last-child {
      margin-bottom: 0;
    }
  }
}

.ql-bubble .ql-tooltip {
  z-index: 10000;
}

.quill .ql-container .ql-snow {
  height: 250px !important;
  overflow-y: auto;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  width: 25px !important;
  height: 20px;
}

.ql-container.ql-snow {
  border: 0 !important;
  height: 250px !important;
  overflow-y: auto;
}
